{% extends 'baseMembers.html.twig' %}

{% block title %}Votre compte !{% endblock %}

{% block body %}

<div class="accountMember">
    <h1 class="text-center">Voici les informations relatives à votre compte :</h1>
    <div class="infoMember">
        <section>
                <h5 class="text-center">Bienvenue Mr/Mme {{ user.name }} {{user.firstName}}!</h5>
                <div class="metadata">
                    <p>
                        Vous vous êtes inscrit(e) aux paniers {{ user.baskettype}} le {{ user.createdAt | date('d/m/Y')}} à {{user.createdAt | date('H:i')}}.</br>
                        Le lieu de ramassage de votre panier se situe sur la commune du {{user.dayOfWeek}} et votre nombre de paniers restant est de {{user.numberBasketRest}} !</br>
                        Vous résidez à {{ user.town}} et votre email est : {{ user.email}} .
                    </p>
                </div>
        </section>
    </div>
</div>
{% endblock %}