{% extends 'baseMembers.html.twig' %}

{% block title %}Votre compte !{% endblock %}

{% block body %}

<h1 class="text-center">Voici les informations relatives à votre compte :</h1>
    <section>
            <h5>Bienvenue Mr/Mme {{ memberCount.name }} {{memberCount.surname}}!</h5>
            <div class="metadata">
                <p>
                    Vous vous êtes inscrit(e) aux paniers {{ memberCount.baskettype}} le {{ memberCount.createdAt | date('d/m/Y')}} à {{memberCount.createdAt | date('H:i')}}.</br>
                    Le lieu de ramassage de votre panier se situe sur la commune du {{memberCount.dayOfWeek}} et votre nombre de paniers restant est de {{memberCount.numberBasketRest}} !</br>
                    Vous résidez à {{ memberCount.town}} et votre email est : {{ memberCount.email}} .
                </p>
            </div>
    </section>

{% endblock %}