{% extends 'baseMembers.html.twig' %}

{% block title %}Composition de votre panier !{% endblock %}

{% block body %}
<h1 class="text-center">Bienvenue {{memberCount.firstName}} {{ memberCount.name }} sur la page vous permettant de composer vous même votre panier !</h1>
<p>
    Afin de composer vous-même votre panier, cliquez sur le bouton "Mettre ce produit dans votre panier !"</br>
    Afin de proposer à tous une grande variété de produits, merci de ne prendre qu'un exemplaire par produit.</br>
    Si vous désirez en prendre plusieurs, vous le pourrez sur place!</br>
    Le prix sera bien évidement en fonction de ce que vous prendrez et sera à régler sur place !</br>
    Et n'oubliez pas de valider votre panier grâce au bouton "Valider votre panier !"</br>
    Alors, faites-vous plaisir !!!
</p>

<div class="formListInscr">
    <div class="formInscription">
        <h3 class="text-center">Voici la liste des produits de la semaine :</h3>
        <h4 class="text-center">Produits à l'unité :</h4>
            <section class="prodList">
                {% for prodUnity in prodByUnity %}
                    <div class="metadata">
                        <p>
                            Produit no {{ prodUnity.id }} : {{prodUnity.quantityProdUnity}} {{prodUnity.prodByUnity}}
                            <a href="{{ path('basket_comp',{'id':id,'name':prodUnity.prodByUnity})}}"><button type="submit" class="btn btn-success">Mettre ce produit dans votre panier !</button></a></br>
                        </p>
                    </div>
                    <div class="sepMemList"></div>
                {% endfor %}
            
            </section>
            
            <h4 class="text-center">Produits au kilo :</h4>
            <section class="prodList">
                {% for prodKg in prodByKg %}
                    <div class="metadata">
                        <p>
                            Produit no {{ prodKg.id }} : {{ prodKg.quantityProdKg }}kg de {{ prodKg.ProdByKg }}
                            <a href="{{ path('basket_comp',{'id':id,'name':prodKg.ProdByKg})}}"><button type="submit" class="btn btn-success">Mettre ce produit dans votre panier !</button></a></br>
                        </p>
                    </div>
                    <div class="sepMemList"></div>
                {% endfor %}
            
            </section>
    </div>

    <div class="listBasketComp">
        <h3 class="text-center">Voici la liste des produits de votre panier :</h3>
        <div class="text-center">
        <a href="{{ path('validate_bask',{'id':id})}}"><button type="submit" class="btn btn-success">Valider votre panier !</button></a>   
        </div>
        <h4 class="text-center">Votre panier :</h4>
            <section class="prodList">
                {% for basketOfMember in basketMember %}
                    <div class="metadata">
                        <p>
                                <strong class="refProd">{{ basketOfMember.quantityProd }} {{ basketOfMember.kgOrUntity }} de {{ basketOfMember.nameProd }}</strong>
                                <a href="{{ path('delete_prod_bask_comp',{'id':basketOfMember.id,'name':basketOfMember.nameProd })}}"><button type="submit" class="btn btn-success">Supprimer ce produit du panier !</button></a>
                        </p>
                    </div>
                    <div class="sepMemList"></div>
                {% endfor %}
            
            </section>
            <div class="text-center">
            <a href="{{ path('validate_bask',{'id':id})}}"><button type="submit" class="btn btn-success">Valider votre panier !</button></a>   
            </div>
    </div>
</div>
{% endblock %}