{% extends 'baseMembers.html.twig' %}

{% block title %}Composition de votre panier !{% endblock %}

{% block body %}
<div class="viewForCompBask">
    <h1 class="text-center">Bienvenue {{app.user.firstName}} {{ app.user.name }} sur la page vous permettant de composer vous même votre panier !</h1>
    <p class="viewPForCompBask">
        Afin de composer vous-même votre panier, cliquez sur <span class="input-icon"><i class="fas fa-plus"></i></span> dans les produits de la semaine pour le mettre dans votre panier</br>
        De même, cliquez sur <span><i class="fas fa-minus"></i></span> dans votre panier pour l'enlever .</br> 
        Le prix sera bien évidement en fonction de ce que vous prendrez et sera à régler sur place !</br>
        <span>N'oubliez pas de valider votre panier grâce au bouton "Valider votre panier" sinon votre panier ne sera pas préparé !</span></br>
        Mais rassurez-vous, dans ce cas, vous pourrez composer un panier sur place !</br>
        <span>Si vous commencez à composer un panier et que vous ne désirez plus récupérer ce panier, merci de le vider !</span></br>
        Alors, faites-vous plaisir !!!</br>
        {% if app.user.numberBasketRest == '0' %}
            <h1 class="text-center strong validationOrNot">Pensez à valider votre panier !<span><i class="fas fa-times-circle"></i></span></h1></br>
        {% else %}
            <h1 class="text-center strongG validationOrNot">Votre panier est validé !<span><i class="fas fa-check-circle"></i></span></h1></br>
        {% endif %}
    </p>

    <div class="formListInscr">
        <div class="formInscription">
            <h3 class="text-center">Voici la liste des produits de la semaine :</h3>
            <h4 class="text-center downTitle">Produits :</h4>
                <section class="prodList">
                    {% for prods in prod %}
                        <div class="metadata">
                            <p class="text-center">
                                {% if prods.quantity == '0' %}
                                    <span class="strong">Il n'y a plus de {{prods.nameProd}} disponible !</span>
                                {% else %}
                                    {{prods.nameProd}}<a title="Mettre ce produit de votre panier !" style="text-decoration: none" href="{{ path('basket_comp',{'name':prods.nameProd})}}"><span class="input-icon"><i class="fas fa-plus"></i></span></a>
                                {% endif %}
                            </p>
                        </div>
                        <div class="sepMemList"></div>
                    {% endfor %}
                
                </section>
        </div>

        <div class="listBasketComp">
            <h3 class="text-center">Voici la liste des produits de votre panier :</h3>
            <div class="text-center">
            <a href="{{ path('validate_bask')}}"><button type="submit" class="btn btn-success">Valider votre panier !</button></a>   
            </div>
            <h4 class="text-center">Votre panier :
                {% if app.user.numberBasketRest == '0' %}
                <span><i class="fas fa-times-circle"></i></span>
                {% else %}
                <span><i class="fas fa-check-circle"></i></span>
                {% endif %}
            </h4>
                <section class="prodList">
                    {% for basketOfMember in basketMember %}
                        <div class="metadata">
                            <p class="text-center">
                                    <strong class="refProd">{{ basketOfMember.quantityProd }} {{ basketOfMember.kgOrUnity }}(s) de {{ basketOfMember.nameProd }}</strong><a title="Enlever ce produit de votre panier !" style="text-decoration: none" href="{{ path('delete_prod_bask_comp',{'id':basketOfMember.id })}}"><span><i class="fas fa-minus"></i></span></a>
                            </p>
                        </div>
                        <div class="sepMemList"></div>
                    {% endfor %}
                
                </section>
                <div class="text-center">
                <a href="{{ path('validate_bask')}}"><button type="submit" class="btn btn-success">Valider votre panier !</button></a>   
                </div>
        </div>
    </div>
</div>
{% endblock %}