{% extends 'baseAdmin.html.twig' %}

{% block title %}Paniers collectés !{% endblock %}

{% block body %}
    <h1 class="text-center">Bienvenue sur la page représentant la liste des paniers collectés à préparer !</h1>
    <div class="listBaskColl">
        <form action="{{path('basket_collected')}}" method="get">
            <div class="form-group text-center">
                <label for="exampleSelect1">Définissez votre jour de livraison :</label>
                    <select class="form-control" id="exampleSelect1" name="chooseDayOfWeek" required="on">
                        <option>lundi</option>
                        <option>mardi</option>
                        <option>mercredi</option>
                        <option>jeudi</option>
                        <option>vendredi</option>
                    </select>
                <button type="submit" class="btn btn-success">Lancer la liste des paniers !</button>
            </div>
        </form>
        <div class="navBaskColl">
            <div class="navigationBaskColl">
                {{ knp_pagination_render(members) }}
            </div>
        </div>
        {% for member in members %}
            <h4 class="text-center">Paniers collectés du <strong>{{member.dayOfWeek}}</strong> à préparer et à livrer:</h4>
            <div class="baskColl">
                {% for member in members %}
                    <div class="metadata bottomline text-center">
                        {{member.numberBasketCollected}} panier pour : Mr/Mme {{member.name}} {{member.firstName}}
                        <a href="{{ path('defined_number_basket_rest',{'id':member.id})}}"><button type="submit" class="btn btn-success">redéfinir le nombre de paniers restant !</button></a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        </div>
{% endblock %}