{% extends 'baseAdmin.html.twig' %}

{% block title %}Paniers collectés !{% endblock %}

{% block body %}
    <h1 class="text-center">Bienvenue sur la page représentant la liste des paniers collectés à préparer !</h1>

    <section class="listBaskComp">

        <div class="baskColl">
            <h2>Paniers collectés du <strong>lundi</strong> à livrés sur la commune de <strong>Chateaugiron</strong>:</h2>
                {% for day in day1 %}
                    <div class="metadata">
                        {{day.numberBasketRest}} panier pour : Mr/Mme {{day.name}} {{day.firstName}}
                        <a href="{{ path('defined_number_basket_rest',{'id':day.id})}}"><button type="submit" class="btn btn-success">redéfinir le nombre de paniers restant !</button></a>
                    </div>
                {% endfor %}
        </div>

        <div class="baskColl">
            <h2>Paniers collectés du <strong>mercredi</strong> à livrés sur la commune de <strong>Vern sur seiche</strong>:</h2>
                {% for day in day3 %}
                    <div class="metadata">
                        {{day.numberBasketRest}} panier pour : Mr/Mme {{day.name}} {{day.firstName}}
                        <a href="{{ path('defined_number_basket_rest',{'id':day.id})}}"><button type="submit" class="btn btn-success">redéfinir le nombre de paniers restant !</button></a>
                    </div>
                {% endfor %}
        </div>

        <div class="baskColl">
            <h2>Paniers collectés du <strong>jeudi</strong> à livrés sur la commune de <strong>Amanlis</strong>:</h2>
                {% for day in day4 %}
                    <div class="metadata">
                        {{day.numberBasketRest}} panier pour : Mr/Mme {{day.name}} {{day.firstName}}
                        <a href="{{ path('defined_number_basket_rest',{'id':day.id})}}"><button type="submit" class="btn btn-success">redéfinir le nombre de paniers restant !</button></a>
                    </div>
                {% endfor %}
        </div>

        <div class="baskColl">
            <h2>Paniers collectés du <strong>vendredi</strong> à livrés sur la commune de <strong>Bourg barré</strong>:</h2>
                {% for day in day5 %}
                    <div class="metadata">
                        {{day.numberBasketRest}} panier pour : Mr/Mme {{day.name}} {{day.firstName}}
                        <a href="{{ path('defined_number_basket_rest',{'id':day.id})}}"><button type="submit" class="btn btn-success">redéfinir le nombre de paniers restant !</button></a>
                    </div>
                {% endfor %}
        </div>
    </section>
{% endblock %}