{% extends 'baseAdmin.html.twig' %}

{% block title %}Paniers composés !{% endblock %}

{% block body %}
<p class="text-center">
        <h1>Bienvenue sur la page représentant la liste des paniers composés à préparer !</h1>
    </p>
    <section class="listBaskComp">
        <h2>Paniers composés à récupérer le mardi de 13 à 17h :</h2>
        <div>
                <a href="{{ path('delete_all_bask')}}"><button type="submit" class="btn btn-success">Supprimer tous les panier composés !</button></a>   
                </div>
        {% for baskComp in baskComps %}
        <div class="metadata">
            -1 panier pour : Mr/Mme {{baskComp.name}} {{baskComp.firstname}}, comprenant :</br>
            {% for prods in prodBaskMember %}
            {% if baskComp.id == prods.getMemberId() %}
            -{{prods.quantityProd}} {{prods.nameProd}} {{prods.kgOrUntity}}</br>
            {% endif %}
            {% endfor %}
            <a href="{{ path('delete_bask_member',{'id':baskComp.id})}}"><button type="submit" class="btn btn-success">Supprimer le panier composé de ce membre !</button></a>
        </div>
        <div class="sepMemList"></div>
        {% endfor %}
    </section>
{% endblock %}