{% extends 'baseAdmin.html.twig' %}

{% block title %}Liste des membres{% endblock %}

{% block body %}
<h1 class="text-center">Bienvenue sur la page représentant la liste de vos membres!</h1>

<div class="MembersList">
    <div class="memberList1">
        <h4 class="text-center noMargin">Membres des paniers composés :</h4>
        <p class="borderMemberList">
            Dans cette liste sont présent l'ensemble des membres ayant adhéré au paniers composés.
            Le nombre de paniers est définit par défaut à 0 lors de l'inscription du membre, puis à 1 lors de la
            validation du panier ce qui lui permet de lancer sa commande sachant que le réglement se fera à la ferme !
            Lorsque le membre viendra récupérer son panier, vous pourrez re-définir son nombre de panier à 0
            sur la page des paniers composés pour lui permettre de re-composer un nouveau panier la semaine suivante !
        </p>
        <div class="paginationLinkGroupOfMember">
            {% if groupOfMember1 != 0 %}
                <a style="text-decoration:none" href="{{ path('paginationMemberGroup',{'groupOfMember1':groupOfMember1 - 5,'groupOfMember2':groupOfMember2})}}"><button type="submit" class="btn btn-success"><span><i class="fas fa-chevron-left"></i></span>groupe de membre précédent</button></a>
            {% else %}
                <a style="text-decoration:none"><button type="submit" class="btn btn-success"><span><i class="fas fa-chevron-left"></i></span></button></a>
            {% endif %}
            {% if (groupOfMember1 + 5) >= groupOfMember1Max %}
                <a style="text-decoration:none" ><button type="submit" class="btn btn-success"><span><i class="fas fa-chevron-right"></i></span></button></a>
            {% else %}
                <a style="text-decoration:none" href="{{ path('paginationMemberGroup',{'groupOfMember1':groupOfMember1 + 5,'groupOfMember2':groupOfMember2})}}"><button type="submit" class="btn btn-success">groupe de membre suivant<span><i class="fas fa-chevron-right"></i></span></button></a>
            {% endif %}
        </div>
        <h4 class="text-center noMargin">Liste des membres :</h4>
            <div class="MembersComp">
                    {% for member in members1 %}
                        <div class="metadata">
                            Mr/Mme {{member.name}} {{member.firstName}} inscrit(e) le {{member.createdAt | date('d/m/Y')}} à {{member.createdAt | date('H:i')}}
                            résidant à {{member.town}} .<br>
                            Nombre de paniers restant dû : {{member.numberBasketCompouned}} .<br>
                            E-mail : {{member.email}}
                        </div>
                        <div class="sepMemList"></div>
                    {% endfor %}
            </div>
    </div>

    <div class="memberList2">
        <h4 class="text-center noMargin">Membres des paniers collectés :</h4>
        <p class="borderMemberList">
            Afin d'avoir un contrôle sur le réglement des paniers collectés lors de l'inscription des membres,
            le nombre de paniers est définit par défaut à 0 pour vous permettre de recevoir le réglement puis,
            à reception ou encaissement, de définir le nombre de paniers à 44 unités en cliquant sur le bouton
            "Valider l'abonnement de ce membre !".Cela validera son inscription et lancera son abonnement!
            Après chaque livraison, vous pourrez diminuer de 1 le nombre de paniers restant sur la page des paniers collectés !
            <br>
        </p>
        <div class="paginationLinkGroupOfMember">
            {% if groupOfMember2 != 0 %}
                <a style="text-decoration:none" href="{{ path('paginationMemberGroup',{'groupOfMember1':groupOfMember1,'groupOfMember2':groupOfMember2 - 5})}}"><button type="submit" class="btn btn-success"><span><i class="fas fa-chevron-left"></i></span>groupe de membre précédent</button></a>
            {% else %}
                <a style="text-decoration:none"><button type="submit" class="btn btn-success"><span><i class="fas fa-chevron-left"></i></span></button></a>
            {% endif %}
            {% if (groupOfMember2 + 5) >= groupOfMember2Max %}
                <a style="text-decoration:none" ><button type="submit" class="btn btn-success"><span><i class="fas fa-chevron-right"></i></span></button></a>
            {% else %}
                <a style="text-decoration:none" href="{{ path('paginationMemberGroup',{'groupOfMember1':groupOfMember1,'groupOfMember2':groupOfMember2 + 5})}}"><button type="submit" class="btn btn-success">groupe de membre suivant<span><i class="fas fa-chevron-right"></i></span></button></a>
            {% endif %}
        </div>
        <h4 class="text-center noMargin">Liste des membres :</h4>
            <div class="MembersColl">
                    {% for member in members2 %}
                        <div class="metadata">
                            Mr/Mme {{member.name}} {{member.firstName}} inscrit(e) le {{member.createdAt | date('d/m/Y')}} à {{member.createdAt | date('H:i')}}
                            résidant à {{member.town}} .<br>
                            Nombre de paniers restant dû : {{member.numberBasketCollected}} .
                            <a href="{{ path('initialize_number_basket_rest',{'id':member.id})}}"><button type="submit" class="btn btn-success">Valider l'abonnement de ce membre !</button></a><br>
                            Le lieu de ramassage de ce panier se situe sur la commune du {{member.dayOfWeek}} !<br>
                            E-mail : {{member.email}}
                        </div>
                        <div class="sepMemList"></div>
                    {% endfor %}
            </div>
    </div>
</div>

{% endblock %}