{% extends 'baseAdmin.html.twig' %}

{% form_theme formProdOfWeek 'bootstrap_4_layout.html.twig' %}

{% block title %}Produits de la semaine !{% endblock %}

{% block body %}
<h1 class="text-center titleProdOfWeek">Définissez vos produits de la semaine.</h1>
<p class="textProdOfWeek">
    Afin de vous aider dans l'élaboration de votre liste de produits, cette liste est présente avec pour chaque produit, son nom et sa quantité.</br>
    Pour ce faire, 3 solutions :</br>
    1/Pour modifier la quantité d'un produit ou remplacer un produit par un autre, cliquez dans la liste sur le bouton "Charger ce produit" correspondant au produit à modifier ou à remplacer.</br>
    Ensuite, définissez son nom et sa quantité dans les champs correspondant, puis cliquez sur "Enregistrer ce produit dans les produits de la semaine".</br>
    De cette manière, vous avez modifié sa quantité ou remplacer le produit .</br>
    2/Pour créer un nouveau produit, <a href="new"><button type="submit" class="btn btn-success">cliquez ici!</button></a>
    Puis, entrez dans les champs correspondant le nom, la quantité et le type de vente du nouveau produit !</br>
    Et voilà, vous avez un nouveau produit dans la liste des produits de la semaine !!</br>
    3/Pour supprimer un produit, cliquez sur "Supprimer ce produit" dans la liste des produits !
</p>

<div class="formAndLists">
    <div class="titleAndForms">
        <div class="forms">
            <div class="titleAndForm">
                <h4 class="text-center">Formulaire des produits de la semaine :</h4>
                    <div class="form">
                        {{ form_start(formProdOfWeek) }}
                        {{ form_label(formProdOfWeek.nameProd,'Nom du produit') }}
                        {{ form_widget(formProdOfWeek.nameProd, {'attr' : {'placeholder': "Nom du produit"}}) }}
                        {{ form_label(formProdOfWeek.quantity,'Quantité') }}
                        {{ form_widget(formProdOfWeek.quantity, {'attr' : {'placeholder': "Nombre d'unité du produit"}}) }}
                        {{ form_label(formProdOfWeek.saleType,'Type de vente') }}
                        {{ form_widget(formProdOfWeek.saleType, {'attr' : {'placeholder': "unité ou kg"}}) }}
                        <div class="text-center">
                            <button type="submit" class="btn btn-success" href="product_of_the_week/{id}">Enregistrer ce produit dans les produits de la semaine </button></br>
                        </div>
                        {{form_end(formProdOfWeek)}}
                    </div>{#form#}
            </div>{#titleAndForm#}
        </div>{#forms#}
    </div>{#titleAndForms#}

    <div class="listsProd">
        <h4 class="text-center">Liste des produits de la semaine :</h4>
        <div class="prodList">
            {% for prod in prodsOfWeek %}
                <div class="metadata">
                    <p>
                        Nom du produit : <strong class="refProd">{{prod.nameProd}}</strong> ;
                        Quantité du produit : <strong class="refProd">{{prod.quantity}}</strong></br>
                        Type de vente : <strong class="refProd">{{prod.saleType}}</strong></br>
                        <a href="{{ path('product_of_the_week',{'id':prod.id})}}"><button type="submit" class="btn btn-success">Charger ce produit</button></a>
                        <a href="{{ path('delete_prod',{'id':prod.id})}}"><button type="submit" class="btn btn-success">Supprimer ce produit</button></a>
                    </p>
                </div>
                <div class="sepProdList"></div>
            {% endfor %}
        </div>{#prodList#}
    </div>{#listsProd#}
</div>{#formAndLists#}
{% endblock %}