{% extends 'baseAdmin.html.twig' %}

{% form_theme formProdOfWeekUnity1 'bootstrap_4_layout.html.twig' %}
{% form_theme formProdOfWeekUnity2 'bootstrap_4_layout.html.twig' %}


{% block title %}Produits de la semaine !{% endblock %}

{% block body %}
<p class="text-center">
    Définissez vos produits de la semaine.
</p>


{{ form_start(formProdOfWeekUnity1) }}
{{ form_row(formProdOfWeekUnity1.prodByUnity, {'attr' : {'placeholder': "Nom du produit no 1"}}) }}
{{ form_row(formProdOfWeekUnity1.quantityProdUnity, {'attr' : {'placeholder': "Nombre d'unité du produit no 1(2 unités max)"}}) }}
<button type="submit" class="btn btn-success">Enregistrer ce produit dans les produits de la semaine !</button>
{{form_end(formProdOfWeekUnity1)}}

{{ form_start(formProdOfWeekUnity2) }}
{{ form_row(formProdOfWeekUnity2.prodByUnity, {'attr' : {'placeholder': "Nom du produit no 2"}}) }}
{{ form_row(formProdOfWeekUnity2.quantityProdUnity, {'attr' : {'placeholder': "Nombre d'unité du produit no 2(2 unités max)"}}) }}
<button type="submit" class="btn btn-success">Enregistrer ce produit dans les produits de la semaine !</button>
{{form_end(formProdOfWeekUnity2)}}

{{ form_start(formProdOfWeekUnity3) }}
{{ form_row(formProdOfWeekUnity3.prodByUnity, {'attr' : {'placeholder': "Nom du produit no 3"}}) }}
{{ form_row(formProdOfWeekUnity3.quantityProdUnity, {'attr' : {'placeholder': "Nombre d'unité du produit no 3(2 unités max)"}}) }}
<button type="submit" class="btn btn-success">Enregistrer ce produit dans les produits de la semaine !</button>
{{form_end(formProdOfWeekUnity3)}}

{{ form_start(formProdOfWeekUnity4) }}
{{ form_row(formProdOfWeekUnity4.prodByUnity, {'attr' : {'placeholder': "Nom du produit no 4"}}) }}
{{ form_row(formProdOfWeekUnity4.quantityProdUnity, {'attr' : {'placeholder': "Nombre d'unité du produit no 4(2 unités max)"}}) }}
<button type="submit" class="btn btn-success">Enregistrer ce produit dans les produits de la semaine !</button>
{{form_end(formProdOfWeekUnity4)}}

{{ form_start(formProdOfWeekUnity5) }}
{{ form_row(formProdOfWeekUnity5.prodByUnity, {'attr' : {'placeholder': "Nom du produit no 5"}}) }}
{{ form_row(formProdOfWeekUnity5.quantityProdUnity, {'attr' : {'placeholder': "Nombre d'unité du produit no 5(2 unités max)"}}) }}
<button type="submit" class="btn btn-success">Enregistrer ce produit dans les produits de la semaine !</button>
{{form_end(formProdOfWeekUnity5)}}



{{ form_start(formProdOfWeekByKg6) }}
{{ form_row(formProdOfWeekByKg6.prodByKg, {'attr' : {'placeholder': "Nom du produit no 6"}}) }}
{{ form_row(formProdOfWeekByKg6.quantityProdKg, {'attr' : {'placeholder': "Nombre de kilo du produit no 6(2kg max)"}}) }}
<button type="submit" class="btn btn-success">Enregistrer ce produit dans les produits de la semaine !</button>
{{form_end(formProdOfWeekByKg6)}}

{{ form_start(formProdOfWeekByKg7) }}
{{ form_row(formProdOfWeekByKg7.prodByKg, {'attr' : {'placeholder': "Nom du produit no 7"}}) }}
{{ form_row(formProdOfWeekByKg7.quantityProdKg, {'attr' : {'placeholder': "Nombre de kilo du produit no 7(2kg max)"}}) }}
<button type="submit" class="btn btn-success">Enregistrer ce produit dans les produits de la semaine !</button>
{{form_end(formProdOfWeekByKg7)}}

{{ form_start(formProdOfWeekByKg8) }}
{{ form_row(formProdOfWeekByKg8.prodByKg, {'attr' : {'placeholder': "Nom du produit no 8"}}) }}
{{ form_row(formProdOfWeekByKg8.quantityProdKg, {'attr' : {'placeholder': "Nombre de kilo du produit no 8(2kg max)"}}) }}
<button type="submit" class="btn btn-success">Enregistrer ce produit dans les produits de la semaine !</button>
{{form_end(formProdOfWeekByKg8)}}

{{ form_start(formProdOfWeekByKg9) }}
{{ form_row(formProdOfWeekByKg9.prodByKg, {'attr' : {'placeholder': "Nom du produit no 9"}}) }}
{{ form_row(formProdOfWeekByKg9.quantityProdKg, {'attr' : {'placeholder': "Nombre de kilo du produit no 9(2kg max)"}}) }}
<button type="submit" class="btn btn-success">Enregistrer ce produit dans les produits de la semaine !</button>
{{form_end(formProdOfWeekByKg9)}}

{{ form_start(formProdOfWeekByKg10) }}
{{ form_row(formProdOfWeekByKg10.prodByKg, {'attr' : {'placeholder': "Nom du produit no 10"}}) }}
{{ form_row(formProdOfWeekByKg10.quantityProdKg, {'attr' : {'placeholder': "Nombre de kilo du produit no 10(2kg max)"}}) }}
<button type="submit" class="btn btn-success">Enregistrer ce produit dans les produits de la semaine !</button>
{{form_end(formProdOfWeekByKg10)}}

{% endblock %}