<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
        <link rel="stylesheet" href="../css/style.css">
        {% block stylesheets %}{% endblock %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark menu">
                    <div class="logo"></div>
                
                    <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('users_home') }}">Accueil du site</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home_admin') }}">Accueil de votre espace d'administration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('product_of_the_weeks') }}">Produits de la semaine</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('members_list') }}">Liste des membres</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('basket_compouned_list') }}">Paniers composés</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('basket_collected') }}">Paniers collectés</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Déconnexion</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Rechercher">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
                    </form>
                    </div>
                </nav>
    </head>
    <body>
        <div class="container-fluid">
            {% block body %}

            {% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
