{% extends 'baseUsers.html.twig' %}

{% form_theme formOne formTwo 'bootstrap_4_layout.html.twig' %}

{% block title %}Page d'inscription !{% endblock %}

{% block body %}
<h1 class="text-center">Bienvenue sur la page d'inscription aux paniers !</h1>
<p>Vous désirez accéder à nos produits,</br>
2 solutions s'offrent à vous:</br>
1/retirer un panier que vous composez vous-même;</br>
2/retirer un panier dans l'une des 5 communes proposés.</br>
1/ Chaque semaine, nous vous offrons la possibilité de composer vous-même votre panier en fonction des fruits et légumes de saisons dans la limite de 10 produits.</br>
Afin que chacun puisse profiter d'un plus grand choix de produits, vous ne pourrez choisir que 2 produits identiques pour les produits à l'unité (exemple : 2 choux, 2 salades,...)</br>
et d'un kilo maximum pour les produits au kilo (exemples : 1kg de tomates, 1kg de pommes de terre, ...).</br>
Le panier est à retirer le mardi de 16h à 18h30 directement à la ferme pour un montant de 9€ l'unité.Pour nous trouver, cliquez ici!</br>
Les réservations se déroule sur ce site du mercredi au mardi matin à 12h.</br>
Pour vous inscrire, devenez membre en remplissant le formulaire ci-dessous vous demandant :</br>
-votre nom</br>
-votre prénom</br>
-votre email</br>
-votre lieu de résidence</br>
-votre pseudo(retenez le bien !)</br>
-votre mot de passe (retenez le bien également !)</br>
Une fois le formulaire rempli, cliquez sur "M'inscrire", cela vous aménera sur la page de composition de votre panier.</br>
Pour une prochaine composition de panier, rendez-vous directement dans votre espace membre!
</p>
{{ form_start(formOne) }}

{{ form_row(formOne.name, {'attr' : {'placeholder': "Votre nom"}}) }}
{{ form_row(formOne.surname, {'attr' : {'placeholder': "Votre prénom"}}) }}
{{ form_row(formOne.email, {'attr' : {'placeholder': "Votre email"}}) }}
{{ form_row(formOne.town, {'attr' : {'placeholder': "votre lieu de résidence"}}) }}
{{ form_row(formOne.pseudo, {'attr' : {'placeholder': "Votre pseudo"}}) }}
{{ form_row(formOne.password, {'attr' : {'placeholder': "Votre mot de passe"}}) }}

<button type="submit" class="btn btn-success">M'inscrire</button>

{{form_end(formOne)}}

<p>2/ Il vous est possible également  de récupérer un panier confectionné par nos soins de 10 légumes et/ou fruits au sein d'un dépot hebdomadaire correspondant à une liste de 5 communes</br>
-lundi : Chateaugiron;</br>
-mardi : Nouvoitou, directement à la ferme;</br>
-mercredi : Vern/seiche;</br>
-jeudi : Amanlis;</br>
-vendredi : Bourg Barré.</br>
Pour ce faire, inscrivez-vous grâce au formulaire ci-dessous vous demandant :</br>
-votre nom</br>
-votre prénom</br>
-votre email</br>
-votre lieu de résidence</br>
-votre pseudo(retenez le bien !)</br>
-votre mot de passe (retenez le bien également !)</br>
-la commune ou vous désirez retirer votre panier.</br>
Ensuite, cliquez sur "Inscription à la collecte de paniers".</br>
Votre inscription sera effective à la réception du chèque de réglement pour l'année soit un montant de 440€ pour un total de 44 paniers.</br>
Dès réception de votre réglement, nous avertirons par mail!</br>
Les dépots des paniers collectés se déroule de septembre à mi-juillet avec une semaine de pause sur la semaine de noël!</p>

{{ form_start(formTwo) }}

{{ form_row(formTwo.name, {'attr' : {'placeholder': "Votre nom"}}) }}
{{ form_row(formTwo.surname, {'attr' : {'placeholder': "Votre prénom"}}) }}
{{ form_row(formTwo.email, {'attr' : {'placeholder': "Votre email"}}) }}
{{ form_row(formTwo.town, {'attr' : {'placeholder': "Votre lieu de résidence"}}) }}
{{ form_row(formTwo.dayOfWeek, {'attr' : {'placeholder': "Jour ou vous désirez récupérer votre panier chaque semaine"}}) }}
{{ form_row(formTwo.pseudo, {'attr' : {'placeholder': "Votre pseudo"}}) }}
{{ form_row(formTwo.password, {'attr' : {'placeholder': "Votre mot de passe"}}) }}
<button type="submit" class="btn btn-success">Inscription à la collecte de paniers</button>

{{form_end(formTwo)}}

{% endblock %}